/* Responsive queries for Hero area */
@media (max-width: 767px) {
  .hero {
    height: auto;
  }
}

@media (max-width: 767px) {
  .fa-bars {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .hero .navbar {
    margin: 0 10px;
  }
}

@media (max-width: 767px) {
  .hero .navbar p {
    display: none;
  }
}

@media (max-width: 767px) {
  .hero .navbar .nav {
    text-align: center;
    display: none;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .hero .navbar .nav li {
    flex-basis: 100%;
    margin-left: 1.2rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .hero-content {
    margin: 0 2rem;
  }
}

@media (max-width: 767px) {
  .hero-heading {
    margin-top: 40px;
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .hero .btn {
    width: auto;
  }
}

@media (max-width: 767px) {
  .hero .btn {
    font-size: 2.2rem;
    margin-bottom: 3rem;
  }
}

/* ---- End for Hero area ---- */

@media (max-width: 767px) {
  .room-section {
    text-align: center;
  }

  .room-section hr {
    width: auto;
  }
  .room-section div {
    width: auto;
  }

  .room-section img {
    display: none;
  }
}

@media (max-width: 767px) {
  .btn {
    margin: auto;
  }
}

@media (max-width: 767px) {
  .section-title {
    font-size: 2.8rem;
  }
}

@media (max-width: 767px) {
  #facilities {
    display: none;
  }
}

@media (max-width: 767px) {
  .section2 {
    height: auto;
    margin: auto;
  }

  .section2 .btn {
    margin: auto;
  }
}

/* Footer */
@media (max-width: 767px) {
  .footer-container {
    height: auto;
    margin-top: 70px;
  }

  .footer-container .column {
    width: 100%;
    margin: 0;
  }

  .footer-container > div:first-of-type {
    width: 100%;
  }

  .footer-container .location a:last-of-type {
    display: block;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  hr.bottom {
    width: auto;
  }
}

/* End of Footer */
