@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

footer {
  box-sizing: border-box;
  background: #8a2d92;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  width: 1200px;
  height: 273px;
}
.column {
  float: left;
}
div {
 padding: 25px;
}
div.one {
  width: 20%;
}
div.two {
  width: 20%;
}
div.three {
  width: 20%;
}
div.four {
  width: 20%;
}
p.title {
  text-align: left;
  font-size: 24px;
}
p.title.first {
  padding-left: 20px;
}
.text {
  text-align: left;
  font-size: 16px;
}
div.location {
  padding-top: 12px;
  padding-left: 25px;
  display: inline-block;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #f044ff;
  text-decoration: underline;
}
a:active {
  color: silver;
}
.menu {
  display: block;
  padding-top: 12px;
  text-align: left;
}
p.phone {
  padding-top: 10px;
}
img.icons {
  padding-top: 12px;
  padding-left: 5px;
}
hr {
  border: 1px solid #f044ff;
}
hr.bottom {
  width: 1100px;
}
